@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');
*{
    margin: auto;
    padding:0;
    
}
.nav-bar{
    justify-content: space-between;
  position:fixed ;
  width: 100%;
  padding: 20px;
  align-items: center;
  margin: auto;
  font-family: 'Ubuntu', sans-serif;
}
.nav-bar a {
    align-items: center;
    margin: auto;
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
h1{
    text-align: center;
    font-family: 'Philosopher', sans-serif;
}